<div class="modal-header">
  <h3 class="modal-title" ng-if="!product.id">New Order</h3>
  <h3 class="modal-title" ng-if="product.id">Edit Order</h3>
</div>
<div class="modal-body">
  <h4>Basic Information</h4>
  <form name="infoForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer">Customer</label>
          <input type="text" class="form-control" id="customer" ng-model="selectedCustomer" typeahead="customer for customer in getCustomers($viewValue)" >
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="orderPoNumber">Purchase Order Number</label>
      <textarea name="notes" id="orderPoNumber" rows="3" class="form-control" ng-model="order.po_number"></textarea>
    </div>
  </form>
  <hr>
  <pto-product-select on-add="addProductHandler()">
  </pto-product-select>
</div>
<div class="modal-footer">
  <a ng-click="save()" class="btn btn-primary">Save</a>
  <a ng-click="cancel()" class="btn btn-default">Cancel</a>
</div>
<script type="text/ng-template" id="acctProdOptsModal.html">
  <div class="modal-header">
    <h3>New Order Option</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="acctProdOpt">Option Name</label>
      <input type="text" class="form-control" id="acctProdOpt" ng-model="option.name">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="save()" class="btn btn-primary">Save</a>
  </div>
</script>
