<div class="modal-header">
  <h3 class="modal-title" ng-if="!product.id">New Order</h3>
  <h3 class="modal-title" ng-if="product.id">Edit Order</h3>
</div>
<div class="modal-body">
  <h4>Basic Information</h4>
  <form name="infoForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer">Customer</label>
          <input type="text" class="form-control" id="customer" ng-model="selectedCustomer"
                 typeahead="customer as customer.name for customer in getCustomers($viewValue)"
                 typeahead-on-select="addCustomerHandler($item, $model, $label)">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="orderPoNumber">Purchase Order Number</label>
          <input type="text" id="orderPoNumber" class="form-control" ng-model="order.po_number">
        </div>
      </div>
    </div>
  </form>
  <hr>
  <table class="table">
    <thead>
      <th>Item</th>
      <th>QTY</th>
      <th>Price</th>
      <th>Total</th>
    </thead>
    <tbody>
      <tr ng-repeat="product in orderProducts">
        <td>{{product.name}}<br>{{product.description}}</td>
        <td><input type="number" ng-model="product.quantity"></td>
        <td><input type="text" ng-model="product.price"></td>
        <td>{{product.quantity * product.price}}</td>
      </tr>
    </tbody>
  </table>
  <a ng-click="addProducts()">Add Products to Order</a>
</div>
<div class="modal-footer">
  <a ng-click="save()" class="btn btn-primary">Save</a>
  <a ng-click="cancel()" class="btn btn-default">Cancel</a>
</div>
<script type="text/ng-template" id="acctProdOptsModal.html">
  <div class="modal-header">
    <h3>New Order Option</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="acctProdOpt">Option Name</label>
      <input type="text" class="form-control" id="acctProdOpt" ng-model="option.name">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="save()" class="btn btn-primary">Save</a>
  </div>
</script>
