<div class="modal-header">
  <h3 class="modal-title" ng-if="!customer.id">New Customer</h3>
  <h3 class="modal-title" ng-if="customer.id">Edit Customer</h3>
</div>
<div class="modal-body">
  <h4>Basic Information</h4>
  <form name="infoForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customerName">Name</label>
          <input type="text" class="form-control" id="customerName" ng-model="customer.name">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="customerTypes">Customer Type</label>
          <select name="customerTypes" id="customerTypes" class="form-control"
                  ng-options="type.id as type.name for type in customerTypes" ng-model="customer.customer_type_id"></select>
        </div>
        <a ng-click="addCustomerType()">Add New Customer Type</a>
      </div>
    </div>
    <div class="form-group">
      <label for="customerResaleLicense">Resale License</label>
      <input type="text" class="form-control" id="customerResaleLicense" ng-model="customer.resale_license">
    </div>
    <div class="form-group">
      <label for="customerTaxId">Tax ID</label>
      <input type="text" class="form-control" id="customerTaxId" ng-model="customer.tax_id">
    </div>
    <div class="form-group">
      <label for="customerWebsite">Website</label>
      <input type="text" class="form-control" id="customerWebsite" ng-model="customer.website">
    </div>
    <div class="form-group">
      <label for="customerNotes">Notes</label>
      <textarea name="notes" id="customerNotes" rows="3" class="form-control" ng-model="customer.notes"></textarea>
    </div>
  </form>
  <hr>
  <h4>Addresses</h4>
  <div ng-repeat="address in addresses" class="address-form-container">
    <span class="pull-right glyphicon glyphicon-remove" ng-click="deleteAddress(address)"></span>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="addressCompany-{{$index}}">Company</label>
              <input type="text" class="form-control" id="addressCompany-{{$index}}" ng-model="address.company">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="addressName-{{$index}}">C/O</label>
              <input type="text" class="form-control" id="addressName-{{$index}}" ng-model="address.name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="addressAddress1-{{$index}}">Address 1</label>
          <input type="text" class="form-control" id="addressAddress1-{{$index}}" ng-model="address.address_1">
        </div>
        <div class="form-group">
          <label for="addressAddress2-{{$index}}">Address 2</label>
          <input type="text" class="form-control" id="addressAddress2-{{$index}}" ng-model="address.address_2">
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="addressCity-{{$index}}">City</label>
              <input type="text" class="form-control" id="addressCity-{{$index}}" ng-model="address.city">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="addressState-{{$index}}">State</label>
              <input type="text" class="form-control" id="addressState-{{$index}}" ng-model="address.state">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="addressZipCode-{{$index}}">Zip Code</label>
              <input type="text" class="form-control" id="addressZipCode-{{$index}}" ng-model="address.zip_code">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressCountry-{{$index}}">Country</label>
              <input type="text" class="form-control" id="addressCountry-{{$index}}" ng-model="address.country">
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="address.is_default_billing"> Default Billing
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="address.is_default_shipping"> Default Shipping
          </label>
        </div>
      </div>
    </div>
  </div>
  <a href="#" ng-click="addAddress()">Add a New Address</a>
  <hr>
  <h4>Contacts</h4>
  <div ng-repeat="contact in contacts" class="address-form-container">
    <span class="pull-right glyphicon glyphicon-remove" ng-click="deleteContact(contact)"></span>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="contactName-{{$index}}">Name</label>
              <input type="text" class="form-control" id="contactName-{{$index}}" ng-model="contact.name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="contactTitle-{{$index}}">Title</label>
              <input type="text" class="form-control" id="contactTitle-{{$index}}" ng-model="contact.title">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="contactEmail-{{$index}}">Email</label>
          <input type="text" class="form-control" id="contactEmail-{{$index}}" ng-model="contact.email">
        </div>
        <div class="form-group">
          <label for="contactNotes-{{$index}}">Notes</label>
          <textarea name="contactNotes-{{$index}}" class="form-control" id="contactNotes-{{$index}}" rows="3" ng-model="contact.notes"></textarea>
        </div>
      </div>
    </div>
  </div>
  <a href="#" ng-click="addContact()">Add a New Contact</a>
</div>
<div class="modal-footer">
  <a ng-click="save()" class="btn btn-primary">Save</a>
  <a ng-click="cancel()" class="btn btn-default">Cancel</a>
</div>
